:root {
  --primary-text-color: #e5e5e5;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #757575;
  --button-background: #f5f4fa;
  --white-color: #ffffff;
  --black-box-color: #2f303a;
  --style-for-footer-contacts: #acacb0;
}
body {
  background: var(--primary-text-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}
/* Общие стили и стили портфолио */
/*Шрифт кнопки (наследование) */
/* Хедер */
.header {
  background-color: #ececec;
}
/* Логтип */
.logoweb {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}
.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}
/* Ссылки навигации */
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
.header-item:hover,
.header-item:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-color);
}
/* Hover для контактов */
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
}
.header-mail:hover,
.header-mail:focus {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color);
}
/* Main contant */
.main {
  background-color: var(--white-color);
}
/* Кнопки портфолио */
.button-item {
  letter-spacing: 0.03em;
  background-color: var(--button-background);
  cursor: pointer;
  font-family: inherit;
}
.button-item:hover,
.button-item:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  font-family: inherit;
}
/* Основной контент */
/* Шрифты основного контента портфолио */
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
/* Текст портфолио */
.text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--title-text-color);
}
/* Footer */
.footer {
  background-color: var(--black-box-color);
}
/* Вторая часть логотипа футера */
.footer-logo {
  color: var(--white-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

/* Адрес на карте футер */
.footer-addres {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}
.footer-addres:hover,
.footer-addres:focus {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color);
}
/* Контактные данные футер*/
.footer-tel {
  font-size: 14px;
  line-height: 1.7;
  color: var(--style-for-footer-contacts);
}
.footer-mail {
  font-size: 14px;
  line-height: 1.7;
  color: var(--style-for-footer-contacts);
}
.footer-tel:hover,
.footer-tel:focus {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color);
}
.footer-mail:hover,
.footer-mail:focus {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color);
}

/* Стили главной страницы */
/* Хедер идентичен странице портфолио */
/* Основная секция */
.main--first-section {
  background-color: var(--black-box-color);
}
/* Заголовок */
.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  vertical-align: top;
  color: var(--white-color);
}
/* Кнопка под заголовком */
.main-button {
  letter-spacing: 0.03em;
  background-color: var(--button-background);
  cursor: pointer;
  font-family: inherit;
}
.main-button:hover,
.main-button:focus {
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  font-family: inherit;
}

/* Секция чем мы занимаемся */
/* Заголовки секции */
.main-second-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
/* Текст секции */
.main-second-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
}
/* Заголовок секции */
.main-third-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
/* Секция наша команда */
/* Основной заголовок секции */
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
/* Заголовки блоков секции */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
/* Текст секции */
.team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
/* footer идентичен портфолио */
